<ng-template #standardTpl> I'm a standard toast </ng-template>

<ng-template #successTpl> I'm a success toast </ng-template>

<mat-card appearance="outlined">
    <mat-card-header>
        <mat-card-title>Search Students</mat-card-title>
    </mat-card-header>
    <br>
    <mat-card-content>
        <form [formGroup]="form()" (submit)="search()">
            <mat-form-field>
                <mat-label>Grades</mat-label>
                <mat-select formControlName="id">
                  <mat-option value="one">First option</mat-option>
                  <mat-option value="two">Second option</mat-option>
                </mat-select>
              </mat-form-field>
            <button mat-fab extended type="submit">
                <mat-icon>search</mat-icon>
                Search
            </button>
        </form>
    </mat-card-content>
</mat-card>
<app-toast-container aria-live="polite" aria-atomic="true"></app-toast-container>